<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Shoppinglist</title>
</head>

<body>

    <table>
        <td>
            <ul>
                <li>
                    <a href="{{ url_for('usersIndex') }}">list users</a>
                </li>
                <li>
                    <a href="{{ url_for('usersForm') }}">add users</a>
                </li>
            </ul>
        </td>
        <td>
            <li>
                <a href="{{ url_for('productsList') }}">list products</a>
            </li>
            <li>
                <a href="{{ url_for('productsForm') }}">add product</a>
            </li>
        </td>
    </table>

    {% block body %}
    <p>
        tekstiä
    </p>
    {% endblock %}
</body>

</html>