{% extends "layout.html" %}


{% block body %}

<form action="{{ url_for('group_page', groupId = groupId) }}">
  <input type="submit" value="Back">
</form>

<h3>Group users</h3>
<ul>
  {% for user in users %}
  <li>{{ user.name }}</li>
  {% endfor %}
</ul>

<form method="POST" action="{{ url_for('group_delete_user', groupId = groupId) }}">
  <input type="submit" value="Leave group">
</form>

{% if current_user.username == group.groupCreator and form.username.choices %}
<form method="POST">
  {{ form.username }}
  <input type="submit" value="Add user to group">
</form>
{% endif %}

{% endblock %}