{% extends "layout.html" %}
{% block body %}
<table>
  <tr>
    <th>
      <h1>Groups</h1>
    </th>
  </tr>
  {% for group in groups %}
  <tr>
    <td>
      <a href="{{ url_for('group_page', groupId = group.id) }}" class="btn btn-secondary btn-sm">
        <p>Group name: {{ group.name }}</p>
        <p>Unique products: {{ group.GroupItemCount }}</p>
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
  data-whatever="@mdo">Create new group</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{{ url_for('groups_create') }}">
          <div class="form-group">
            <label for="group-name" class="col-form-label">Group name:</label>
            {{ form.name (class_="form-control")}} {{ form.hidden_tag() }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" value="Create group" class="btn btn-primary">
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<ul>
  {% for error in form.name.errors %}
  <li> {{error}}</li>
  {% endfor %}
</ul>

{% endblock %}